<div style="margin: 20px">
  <div>
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <h4 style="margin-right: 20px">Listado de pixels <span> ({{pixels.length}})</span></h4>
        <button class="btn btn-outline-primary" (click)="realoadCompras()"><span class="fas fa-sync"></span> Actualizar
          <span class="badge badge-danger" *ngIf="nuevasCompras.length>0"> {{nuevasCompras.length}} </span></button>
      </div>
    </div>

    <div class="alert alert-info" *ngIf="pixels.length===0">
      <hr>
      <h4 class="text-muted"> No hay registros </h4>
    </div>
    <div class="table-responsive">

      <table class="table table-bordered table-sm" *ngIf="pixels.length>0">
        <thead>
        <tr>
          <th><b> Codigo</b></th>
          <th><b>Fecha creación</b></th>
          <th><b>Estado</b></th>
          <th><b>Cliente</b></th>
          <th><b>Nro Pixeles</b></th>
          <th><b>Monto</b></th>
          <th><b>Caducidad</b></th>
          <th><b>Acción</b></th>
        </tr>
        </thead>
        <tr *ngFor="let item of pixels">
          <td>
            {{item.px_id}}
          </td>
          <td>
            {{item.px_fecharegistro}}
          </td>
          <td>
            {{item.estado}}
          </td>
          <td>
            {{item.px_email}}
          </td>
          <td>
            {{item.px_numpx}}
          </td>
          <td>
            {{item.px_costo}}
          </td>
          <td>
            {{item.px_fechacadu}}
          </td>
          <td>
            <button (click)="verDetalles(item)" class="btn btn-sm btn-outline-primary" title="Ver detalles">
              <i class="fas fa-eye"></i>
            </button>
          </td>
        </tr>
        <tfoot>
        <tr>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
          <td>
            <span class="font-weight-bold">TOTAL CONFIRMADOS:</span>
          </td>
          <td>

          </td>
          <td>
            <span class="font-weight-bold">$ {{totalconf}}</span>
          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


<div class="modal fade " id="modalDetalleCompra" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <b>Detalles de la compra</b>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-5">
                <span>Dirección de correo:</span>
              </div>
              <div class="col-md-7">
                <span class="font-weight-bold">{{pixelinfo.px_email}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Fecha de compra:</span>
              </div>
              <div class="col-md-7">
                <span class="font-weight-bold">{{pixelinfo.px_fecharegistro}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Nro Pixels:</span>
              </div>
              <div class="col-md-7">
                <span class="font-weight-bold">{{pixelinfo.px_numpx}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Pixels:</span>
              </div>
              <div class="col-md-7">
                <span class="font-weight-bold">Filas:{{pixelinfo.px_row}}-{{pixelinfo.px_row_end}}
                  , Columnas:{{pixelinfo.px_col}}-{{pixelinfo.px_col_end}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Costo Total:</span>
              </div>
              <div class="col-md-7">
                <span class="font-weight-bold">$ {{pixelinfo.px_costo}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <span>Estado:</span>
              </div>
              <div class="col-md-7">
                <span class="font-weight-bold">{{pixelinfo.estado}}</span>
              </div>
            </div>
            <!--
            <div class="row">
              <div class="col-md-5">
                <span>Fecha de caducidad:</span>
              </div>
              <div class="col-md-7">
                <span class="font-weight-bold">{{pixelinfo.px_fechacadu}}</span>
              </div>
            </div>
            -->
            <div *ngIf="pixelinfo.px_estado===1">
              <div class="row">
                <div class="col-md-5">
                  <span>Fecha de anulación:</span>
                </div>
                <div class="col-md-7">
                  <span class="font-weight-bold">{{pixelinfo.px_fechanula}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <span>Nota anulación:</span>
                </div>
                <div class="col-md-7">
                  <span class="font-weight-bold">{{pixelinfo.px_obsanula}}</span>
                </div>
              </div>
            </div>
            <div *ngIf="pixelinfo.px_estado===2">
              <div class="row">
                <div class="col-md-5">
                  <span>Fecha de confirmación:</span>
                </div>
                <div class="col-md-7">
                  <span class="font-weight-bold">{{pixelinfo.px_fechaconfirma}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <span>Nota confirmación:</span>
                </div>
                <div class="col-md-7">
                  <span class="font-weight-bold">{{pixelinfo.px_obsconfirma}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <img class="img-responsive" width="280px"
                 [src]="geturlimage(pixelinfo)"
                 height="220px"/>
          </div>
        </div>
      </div>
      <div>
        <hr>
        <div class="d-flex flex-row justify-content-between" style="margin: 10px 20px">
          <div>
            <button class="btn btn-outline-primary" *ngIf="pixelinfo.px_estado!=1" (click)="anular(pixelinfo)">
              <i class="fa fa-trash"></i>
              Anular
            </button>
            <span style="margin: 5px"></span>
            <button class="btn btn-outline-primary" *ngIf="pixelinfo.px_estado===0" (click)="confirmar(pixelinfo)">
              <i class="fa fa-check"></i>
              Confirmar
            </button>
          </div>
          <div>
            <button class="btn btn-outline-secondary" (click)="closemodal()"> Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



