<div class="container" style="margin-bottom: 20px">
  <div class="card border-warning">
    <div class="card-header">
      <h5>Datos de contacto</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <i class="fas fa-envelope"></i> Direccion de correo:</div>
        <div class="col-md-6"><span class="font-weight-bold"> mipixel.net.ventas@gmail.com </span></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span style="color: forestgreen">
          <i class="fab fa-whatsapp"></i>
          </span>
           Numero de Whatsapp:</div>
        <div class="col-md-6"><span class="font-weight-bold">
          +593 0986325348 </span></div>
      </div>
      <br><br>
      <h5>Datos Bancarios</h5>
      <hr>
      <div class="row">
        <div class="col-md-6">Banco:</div>
        <div class="col-md-6"> <span class="font-weight-bold">Banco Pichincha</span></div>
      </div>
      <div class="row">
        <div class="col-md-6">Cuenta de ahorros:</div>
        <div class="col-md-6"><span class="font-weight-bold"> 2203986656 </span></div>
      </div>
      <div class="row">
        <div class="col-md-6">Nombre:</div>
        <div class="col-md-6"><span class="font-weight-bold"> Claudio M. Paqui </span></div>
      </div>
      <div class="row">
        <div class="col-md-6">Nro CI:</div>
        <div class="col-md-6"><span class="font-weight-bold"> 1900612365 </span></div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <a href="https://www.facebook.com/Mi-Pixel-114540580407645" target="_blank">
            <span style="font-size: 3em;">
              <i class="fab fa-facebook"></i>
            </span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

