<div class="row justify-content-center" style="margin-bottom: 20px">
  <div class="col-md-10">
    <div class="card border-success">
      <div class="card-body">
        <div class="alert alert-warning">
          <h3 class="text-center">Gracias por realizar su compra</h3>
          <h4>
            Datos para transferencia bancaria: <br>
            Banco Pichincha <br>
            Nombre: Claudio M. Paqui <br>
            Nro CI: 1900612365 <br>
            Cuenta de ahorros: 2203986656 <br> <br>

            Debe enviar el comprobante de pago a la dirección de correo: mipixel.net.ventas@gmail.com
            <br>
            <br>
            <span class="fa fa-exclamation-triangle"></span>
            Para poder confirmar su compra tiene un tiempo máximo de 2 horas y ponerse en contacto de manera obligatoria al número de WhatsApp +593 0986325348
          </h4>
        </div>
        <h5 style="margin-top: 30px">A continuación se muestra el resumen de su compra: </h5>
        <div class="row">
          <div class="col-md-4">
            <span> Dirección de correo:</span>
          </div>
          <div class="col-m2-8">
            <b>{{pixelinfo.px_email}}</b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span>Nro Pixels:</span>
          </div>
          <div class="col-m2-8">
            <b>{{pixelinfo.px_numpx}}</b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span>Monto:</span>
          </div>
          <div class="col-m2-8">
            <b>{{pixelinfo.px_costo}} USD</b>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-center">
          <button class="btn btn-outline-primary" (click)="cerrar()"> Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

